*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #6a5445;}
body{
    font-family: 'Federo';
    font-size: 18px;
    line-height: 20px;
    color: #6a5445;
    min-width: 1320px;
    background: url(./img/sub.13.png) no-repeat center top;
}
/*헤더*/
#header{
    height: 92px;
}
.header_inner{
    margin: 0 auto;
    width: 1320px;
}
.header_inner img{
    margin-top: 9px;
}
.header_right{
    float: right;
}
.header_right p{
    text-align: right;
}
.header_right p a{
    display: inline-block;
    margin: 22px 5px;
    font-size: 10px;
    color: #6a5445;
}
.header_right p a:nth-child(1):hover{
    color: #f58a6b;
}
.header_right p a:nth-child(2):hover{
    color: #4b7565;
}
.nav >li{
    float: left;
    position: relative;
    margin-left: 90px;
}
.nav >li> a{
    display: block;
    padding-bottom: 10px;
}

/*서브메뉴 꾸미기*/
.sub{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    z-index: 99;
}
.sub li a{
    display: block;
    text-align: center;
    background-color: rgba(72, 57, 47, 0.5);
    color: #eee8e6;
    padding: 20px 0;
    font-size: 12px;
}
.sub li a:hover{   
    color: #f58a6b;
}

/*서브메뉴 없애기*/
.sub{
    display: none;
}

/*서브메뉴 나타나게 만들기*/

/*메인*/
#main{
    width: 1320px;
    margin: 235px auto;
}
.main_inner{
    font-size: 60px;
    text-align: center;
}

/*버튼 아이콘*/
#button{
    width: 530px;
    margin: 0 auto;
    overflow: hidden;
}

#button li{
    float: left;
    display: inline-block;
    margin-left: 40px;
}

/*소파 의자*/
.sofa{
    width: 1320px;
    margin: auto;
    overflow: hidden;
}
.a{
    background: url(./img/sub.1.png) no-repeat 510px;
    text-align: center;
    line-height: 100px;
    margin-top: 200px;
    margin-bottom: 100px;
    font-weight: lighter;
}
.b{
    background: url(./img/green.png) no-repeat 560px;
    text-align: center;
    line-height: 50px;
    margin-top: 200px;
    margin-bottom: 100px;
    font-weight: lighter;
}
.c{
    background: url(./img/sub.1.png) no-repeat 460px;
    text-align: center;
    line-height: 50px;
    margin-top: 200px;
    margin-bottom: 100px;
    font-weight: lighter;
}

.sofa>ul>li> a> img{
    margin-top: 30px;
}
.sofa ul li{
    float: left;
    width: 386px;
}
.sofa ul li:nth-child(2),.sofa ul li:nth-child(5){
    margin: 0 81px;
}
h3{
    margin-top: 20px;
    font-family: 'Pretendard';
}
.sofa p{
    margin-top: 20px;
    font-family: 'Pretendard';
}
#sofa li:nth-child(1){
    background: url(./img/NEWBEST.png) no-repeat right 80%}
 #sofa li:nth-child(2){
    background: url(./img/NEW.png) no-repeat right 75%}
    #sofa li:nth-child(5){
        background: url(./img/BEST.png) no-repeat right 75%}
        #sofa li:nth-child(4){
            background: url(./img/BEST.png) no-repeat right 75%}
            #sofa li:nth-child(6){
                background: url(./img/NEW.png) no-repeat right 75%}
#dresser li:nth-child(1){background: url(./img/NEWBEST.png) no-repeat right 80%}
#dresser li:nth-child(3){background: url(./img/NEW.png) no-repeat right 75%}
#dresser li:nth-child(5){background: url(./img/BEST.png) no-repeat right 75%}
#decoration li:nth-child(1){background: url(./img/NEW.png) no-repeat right 75%}
#decoration li:nth-child(2){background: url(./img/NEWBEST.png) no-repeat right 80%}
#decoration li:nth-child(4){background: url(./img/NEW.png) no-repeat right 75%}
#decoration li:nth-child(6){background: url(./img/BEST.png) no-repeat right 75%}
.ha{
    float: right;
    margin-top: -10px;
    filter: grayscale(1);
}
.ha:hover{
    float: right;
    margin-top: -10px;
    filter: grayscale(0);
}
/*프로모션*/
#con{
    width: 1320px;
    margin: auto;
    margin-top: 200px;
}
#con2{
    width: 1320px;
    margin:  40px auto;
    margin-bottom: 100px;
}

/*푸터*/
#footer{
    background-color: #d2bdad;
    height: 320px;
    margin-top: 30px;
    text-align: center;
}
.footer_inner{
    margin: auto;
    width: 1320px;
}
#footer a{
    display: inline-block;
    padding: 10px 10px;
    margin-top: 30px;
}
#footer a:hover{
    opacity: 0.5;
}
.text4{
    font-family: 'Pretendard';
    font-size: 14px;
    color: #6a5445;
    line-height: 30px;
    margin-top: 30px;
}
.text5{
    font-size: 10px;
    margin-top: 50px;
}
span{
    font-weight: bold;
}
/* 탑버튼 */
.top_button{
    position: fixed;
    right: 50px;
    bottom: 50px;
}